*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: coral;
}
a{
    color: black;
    background: white;
    font-family: sans-serif;
    font-weight: bolder;
}
.activeLink{
    color: white;
    background: black;
    padding: 10px 50px;
}
input::placeholder{
    color: white;
}
